# Bitcoin Supply and Growth

In [1]:
from pathlib import Path
import csv
import pandas as pd

## Yahoo

In [2]:
data_btc = Path("./data/btc_yahoo.csv")

In [3]:
btc_csv = pd.read_csv(data_btc)

# Set date as index
btc_csv = btc_csv.set_index(btc_csv['Date'])
# Drop extra date column
btc_csv = btc_csv.drop(columns = ['Date'])

btc_csv.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-09-20,11095.870117,11095.870117,10814.477539,10938.271484,10938.271484,2.469952e+10
2020-09-21,10934.925781,10988.304688,10380.260742,10462.259766,10462.259766,2.888500e+10
2020-09-22,10459.624023,10568.077148,10382.726563,10538.459961,10538.459961,2.362179e+10
2020-09-23,10539.457031,10637.847656,10185.774414,10225.864258,10225.864258,2.298673e+10
2020-09-24,10227.479492,10765.794922,10215.205078,10745.548828,10745.548828,2.301754e+10